html {
    font-size: $font-size;
    overflow-y: scroll;
}

body {
    font-size: 1rem;
    font-family: $font-main;
}

a {
    color: $color-primary;

    &:hover,
    &:focus {
        color: $color-accent;
        text-decoration: none;
    }
}

h1 {
    font-family: $font-header;

    @include xs-min {
        margin: -7.5px 0 45px;
        font-size: 3rem;
    }

    @include xs {
        margin: 0 0 30px;
        font-size: 2rem;
    }

    &::after {
        position: absolute;
        width: 100%;
        margin: 0.85em 0 0 15px;

        content: "";
        border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    }
}

h2 {
    font-family: $font-header;

    @include xs-min {
        font-size: 2.5rem;
        margin: 60px 0 45px 45px;
    }

    @include xs {
        font-size: 1.75rem;
        margin: 45px 0 30px 45px;
    }

    &::before {
        position: absolute;
        left: 0;
        width: 30px;
        margin: 0.25em 0 0 0;

        content: "";
        border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    }

    &::after {
        position: absolute;
        width: 100%;
        // margin: 0.85em 0 0 15px;

        content: "";
        border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7) !important; 
    }
}

h3 {
    @include xs-min {
        font-size: 1.5rem;
    }

    @include xs {
        font-size: 1.25rem;
    }
}

section {
    position: relative;
    overflow: hidden;
}