.header-logo__title, .header-logo__description {
  text-shadow: 0 0 30px #000000, 0 0 15px #000000, 0 0 5px #000000;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  margin-bottom: 30px;
}

.panel-info {
  border: none;
  background-color: #ebebeb;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-size: 3.5rem;
  font-family: "PT Serif", serif;
  letter-spacing: 0.33em;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-size: 1.15rem;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .header-logo__title {
    letter-spacing: 0.33em;
    font-size: 3.5rem;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
    margin-right: -5px;
  }
}
